.rw {
  display: flex;
  flex-wrap: wrap;
}

.cl {
  flex: 1 0 0%;
}

.mt-20 {
  margin-top: 20px;
}

.p-20 {
  padding: 0 20px;
}
.table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  /* margin: 0 auto; */
  position: relative;
}
.table * {
  position: relative;
}
.table td,
.table th {
  padding-left: 8px;
}
.table thead tr {
  height: 60px;
  background: #be86ff;
  font-size: 16px;
}
.table tbody tr {
  height: 48px;
  border-bottom: 1px solid #e3f1d5;
}
.table tbody tr:last-child {
  border: 0;
}
.table td,
.table th {
  text-align: left;
}
.table td.l,
.table th.l {
  text-align: right;
}
.table td.c,
.table th.c {
  text-align: center;
}
.table td.r,
.table th.r {
  text-align: center;
}

@media screen and (max-width: 35.5em) {
  .table {
    display: block;
  }
  .table > *,
  .table tr,
  .table td,
  .table th {
    display: block;
  }
  .table thead {
    display: none;
  }
  .table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  .table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  .table tbody tr td:last-child {
    margin-bottom: 0;
  }
  .table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  .table tbody tr td:nth-child(1):before {
    content: "Code";
  }
  .table tbody tr td:nth-child(2):before {
    content: "Stock";
  }
  .table tbody tr td:nth-child(3):before {
    content: "Cap";
  }
  .table tbody tr td:nth-child(4):before {
    content: "Inch";
  }
  .table tbody tr td:nth-child(5):before {
    content: "Box Type";
  }
}

.mx-auto{
    margin: 0 auto;
}

.form {
  min-height: 520px;
  width: 500px;
  /* background-color: rgba(255, 255, 255, 0.13); */
  border-radius: 10px;
  backdrop-filter: blur(10px);
  /* border: 2px solid rgba(255, 255, 255, 0.1); */
  /* box-shadow: 0 0 40px rgba(8, 7, 16, 0.6); */
  padding: 20px 35px;
}

.form * {
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.form .header-text {
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}

.form-control {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 5px;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.btn {
  margin-top: 30px;
  width: 100%;
  background-color: #ffffff;
  color: #080710 !important;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.btn-transparent {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.text-danger {
    color: rgb(255, 99, 71);
}

.text-info {
    color: rgb(77, 99, 228);
}

.fs-14 {
    font-size: 14px;
}

.mx-2{
    margin: 0 5px;
}

.mb-5 {
  margin-bottom: 5px;
}
